<div class="text-center mb-3">
    <a class="btn btn-sm btn-outline-primary" [routerLink]="['/users/new']">+ Add User</a>
</div>

<div class="alert alert-warning" role="alert" *ngIf="users.length < 1">
    No Users Available.
</div>

<ng-container *ngIf="users.length > 0">
    <div class="card">
        <div class="card-header bg-primary">
          <h3 class="text-white">Users</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex p-0"  *ngFor="let user of users">
                <div class="iconbox bg-light px-3 py-2 d-flex flex-column justify-content-center">
                    <a [routerLink]="['/users/view', user.id]" class="h5 text-primary">
                        <i class="h1 lni lni-user text-primary"></i>
                    </a>
                </div>

                <div class="leftcont p-3">
                    <a [routerLink]="['/users/view', user.id]" class="h5 text-primary">
                        {{user.firstName}} {{user.lastName}}
                    </a>
                    <small class="d-block">
                        {{user.email}}
                    </small>
                    <div class="small">
                        <span><i class="lni lni-calendar text-primary"></i></span> 
                        Created: {{user.createdAt | date}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ng-container>